.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 50%;
    background-color: white;
    filter: drop-shadow(0px 0px 2px #e1dfdf9a);
    transform: translate(-50%, 0);
    border-radius: 12px;
    border: var(--border-style);
    gap: 10px;
    /* padding-left: 5px;
    padding-right: 5px; */
    padding: 5px;
    align-items: center;
    align-content: center;
    z-index: 4;
}

.tool {
    width: 36px;
    height: 36px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    transition: background-color 120ms ease, border-color 120ms ease, color 120ms ease, transform 120ms ease;
}

.tool:hover {
    background: #f3f3f3;
}

.toolActive {
    background: #171717;
    border-color: #171717;
    color: #fff;
}

.toolIcon {
    width: 100%;
    height: 100%;
}
