.spinner {
    box-sizing: border-box;
    border: 10px solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
    width: 128px;
    height: 128px;
    color: #666;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    top: 0;
    left: 0;
}