.card {
	width: 200px;
	height: 260px;
	color: black;
}

.title {
	flex: 0.6;
	padding: 5px;
}

.attachments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: var(--font-size-xs);
	background-color: rgba(244, 244, 244, 0.7);
	width: 190px;
	margin-left: auto;
	margin-right: auto;
	height: 123px;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 25px;
	width: 165px;
	margin-left: auto;
	position: relative;
	padding: 0 5px 0 5px;
	justify-content: space-between;
	font-size: var(--font-size-xs);
}

.header p,
.footer p {
	margin: 0;
}

.title {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: var(--font-size-md);
}

.title p {
	margin: 0;
	text-align: center;
}

.socialCard {
	background-color: var(--social-color);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.39);
}

.socialCardBack {
	background-color: var(--social-color-darker);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.39);
}

.backBody {
	flex: 1;
	padding: 5px;
}

.techCard {
	background-color: var(--technical-color);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.39);
}

.techCardBack {
	background-color: var(--technical-color-darker);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.39);
}

.backText {
	font-size: var(--font-size-xs);
	overflow-y: auto;
	text-align: left;
	margin: 0;
}

.labelIcon {
	border-radius: 50%;
	position: absolute;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.39);
}

.fieldTextEditor {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	outline: none;
	background: transparent;

	padding: 0;
	margin: 0;
}


/* Flip animation */

.flipIcon {
	cursor: pointer;
}

.flipCard {
	perspective: 1000px;
}

.flipCardInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flipAnimation {
	transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	/* Safari */
	backface-visibility: hidden;
}

.flipCardFront {
	border: var(--border-style);
	display: flex;
	flex-direction: column;
}

.flipCardBack {
	border: var(--border-style);
	transform: rotateY(180deg);
	color: white;
	display: flex;
	flex-direction: column;
}

/* ============================= */