.pageContainer {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
}

.innerContent {
    padding: 40px;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 24px;
    justify-content: start;

}

.projectCard {
    width: 300px;
    height: 230px;
    background-color: white;
    border-radius: 15px;
    border: var(--border-style);
    overflow-y: auto;
}

.innerCard {
    padding: 10px;
    position: relative;
}

.documentTitle {
    font-size: var(--font-size-xl);
}

.title {
    font-size: var(--font-size-2xl);
    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: var(--border-style);
}

.removeIcon {
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.newProject {
    padding: 10px;
    border: 2px dashed rgb(141, 141, 141);
    border-radius: 15px;
}