:root {
  --font-size-xs: 0.75rem;   /* 12px */
  --font-size-sm: 0.875rem;  /* 14px */
  --font-size-md: 1rem;      /* 16px */
  --font-size-lg: 1.25rem;   /* 20px */
  --font-size-xl: 1.5rem;    /* 24px */
  --font-size-2xl: 2rem;     /* 32px */

  --social-color: rgb(125, 192, 255, 0.2);
  --social-color-darker: rgba(13, 75, 132, 0.4);
  --technical-color: rgb(255, 219, 125, 0.2);
  --technical-color-darker: rgba(152, 112, 10, 0.4);

  --subtitle-color: rgba(0, 0, 0, 0.6);
}